$mainColor: #DD3A04;
.seek_sign {
    color: white;
    font-size: 60px;
    font-family: 'Bahnschrift';
    z-index: 5;
    background-color: #dd3a04e5;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    border-radius: 25px;
    text-align: center;
    transition: all .3s ease-in-out;
    user-select: none;
}
#htmlInteractionLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;


    .task-list-item-checkbox {
        width: 30px;
        height: 30px;
    }

    .customComponent {
        font-size: 25px;
        padding: 25px;
        background-color: rgba(230, 230, 230, .95);
        border-radius: 5px;
        overflow: hidden;
    }

    li code,
    p code {
        display: inline;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #BCBEC0;
        background: #F1F3F5;
        padding: 5px 10px;
        font: 24px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
    }

    pre {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #BCBEC0;
        background: #F1F3F5;
        padding: 5px 10px;
        font: 24px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
    }

    p code.hljs {
        display: inline;
    }

    #cursor {
        position: absolute;
        width: 30px;
        height: 50px;
        left: -30px;
        background: url('../../../assets/public_imgs/cursor.png') no-repeat;
        background-size: 100% 100%;
    }

    & img,
    video,
    object {
        position: absolute;
    }

    .quizComponent {
        position: absolute;
        background-color: rgba(230, 230, 230, .925);
        border-radius: 25px;
        max-width: 800px;
        box-shadow: 5px 10px 18px rgba(230, 230, 230, .9);

        .questionRow {
            display: inline-block;
            width: 100%;
            padding-right: 30px;

            .quizIcon {
                vertical-align: middle;
                height: 55px;
                width: 55px;
                margin-left: 15px;
                margin-top: 10px;
            }

            .questionContent {
                width: fit-content;
                display: block;
                font-family: 'UnitMedium';
                font-style: italic;
                margin-left: 75px;
                margin-top: 5px;
                font-size: 42px;
            }

            .questionOptionBlock {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                height: fit-content;
                padding-top: 5px;

                .questionOption {
                    width: fit-content;
                    margin: 20px 15px;

                    min-width: 50px;
                    background-color: white;
                    border-radius: 15px;
                    font-size: 36px;
                    border: 2px $mainColor solid;
                    padding: 2px 10px;
                    cursor: pointer;
                    user-select: none;

                    .optionContainer {
                        .optionNo {
                            font-family: 'UnitMedium';

                        }

                        .optionContent {
                            font-family: 'UnitLight';
                        }
                    }

                    &:hover {
                        background-color: #DD3A04;
                    }
                }

                .questionOption_right {
                    width: fit-content;
                    margin: 20px 15px;

                    min-width: 50px;
                    border-radius: 15px;
                    font-size: 36px;
                    border: 2px forestgreen solid;
                    padding: 2px 10px;
                    cursor: pointer;
                    user-select: none;
                    background-color: forestgreen;

                    .optionContainer {
                        .optionNo {
                            font-family: 'UnitMedium';

                        }

                        .optionContent {
                            font-family: 'UnitLight';
                        }
                    }
                }

                .questionOption_wrong {
                    width: fit-content;
                    margin: 20px 15px;

                    min-width: 50px;
                    border-radius: 15px;
                    font-size: 36px;
                    border: 2px firebrick solid;
                    padding: 2px 10px;
                    cursor: pointer;
                    user-select: none;
                    background-color: firebrick;

                    .optionContainer {
                        .optionNo {
                            font-family: 'UnitMedium';

                        }

                        .optionContent {
                            font-family: 'UnitLight';
                        }
                    }
                }


            }

            .questionFeedback {
                width: fit-content;
                margin: auto;
                font-size: 40px;
                color: #b22222;

                .feedbackIcon {
                    display: block;
                    width: 60px;
                    height: 60px;
                }

                .feedbackContent {
                    display: inline-block;
                    font-family: 'UnitMedium';
                    width: fit-content;
                    margin-left: 65px;
                }
            }

            .questionTip {
                margin-top: 15px;

                .quizIcon {
                    display: block;
                    height: 55px;
                    width: 55px;
                    margin-left: 15px;
                    margin-top: 5px;
                }

                .questionTipContent {
                    width: 90%;
                    word-break: break-all;
                    display: block;
                    margin-left: 75px;
                    // margin-top: 5px;
                    font-size: 42px;
                    font-family: 'UnitLight';
                    padding-right: 10px;

                    &::before {
                        content: 'Tipps: ';
                    }
                }
            }

        }
    }

    .customComponent {
        position: absolute;
    }

    // .slideTitle {
    //     position: absolute;
    //     font-size: 3.5rem;
    // }

    .slideGraphics {
        position: absolute;
    }

    .slideText {
        display: block;
        position: absolute;
        width: fit-content;
        height: auto;

        .slideTextSquare {
            display: inline-block;
            position: absolute;
            top: 25px;
            left: -35px;
            width: 15px;
            height: 15px;
            background-color: $mainColor;
        }

        .slideTextContent {
            display: inline-block;
            // margin-left: 10px;
            font-size: 2rem;

            & a {
                text-decoration: underline;
                color: $mainColor !important;
            }
        }
    }
}

#htmlBackgroundLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

    #backgroundBottom {
        position: absolute;
        bottom: 2.5%;
        left: 2.5%;
        width: 95%;


        #backgroundLogo {
            position: absolute;
            right: 0;
            bottom: calc(100% + 20px);
        }

        #backgroundLine {
            height: 8px;
            background-color: $mainColor;
        }

        #backgroundInfo {
            font-size: 1.3rem;
            position: relative;
            top: 5px;

            #backgroundInstitution {
                font-weight: bold;
            }

            #backgroundCourseInfo1 {
                margin-left: 2.5%;
                font-style: italic;
            }

            #backgroundCourseInfo2 {
                margin-left: 2.5%;
                font-style: italic;
            }

            #backgroundLecturer {
                margin-left: 2.5%;
                font-style: italic;
            }

            #backgroundPage {
                margin-left: 9%;
            }
        }
    }
}