$bgColor: #232526;
$subBgColor: #414345;
$gray: #888888;
$themeColor: #EC6F00;
$subThemeColor: #dc3c05;
#player-control {
  position: relative;
  bottom: -12%;
}

#player-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-58%, -60%);
  width: 1920px;
  height: 1080px;
  // width: 90%;
  // height: 90%;

  #player-stage {
    transform: scale(0.85);
    // margin: auto;
    // margin-top: -3%;
    // margin-left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 10px 18px $gray;
  }
}

#player-navigator {
  position: absolute;
  bottom: 10%;
  right: -10%;
  font-size: 22px;
  background-color: white;
  border: 3px #DD3A04 solid;
  width: 15%;
  // padding: 5px 10px;
  padding-right: 10px;
  padding-left: 10px;
  height: fit-content;
  // transform: translate(0, -50%);
  border-radius: 15px;
  font-family: 'Consolas';
  user-select: none;

  .content_item {
    font-size: 20px;
    cursor: pointer;
    font-family: 'Bahnschrift';

    &:hover {
      color: #DD3A04;
      border-bottom: 3px #DD3A04 solid;
    }
  }
}