.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#head_container {
  margin-bottom: 50px;

  h1 {
    color: white;
    font-family: "UnitMedium";
    font-size: 36px !important;
    text-align: center;
  }
}

@media screen and (max-width:1920px) {
  html {
    zoom: 0.75;
  }

  #progress-transparent {
    zoom: 1.32;
  }

  #progress-bg {
    zoom: 1.32;
  }

  #progress {
    zoom: 1.32;
  }
}

.katex-display>.katex>.katex-html>.tag {
  position: absolute;
  right: -8% !important;
}